text {
    font: 12px sans-serif;
}
svg {
    display: block;
}
html, body, svg {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}
button {
    margin: 2px;
    margin-left: 80px;
}
.one {
    padding:80px 40px 0px 40px;
}
#chart1 {
   /* margin-left: 10%;
    margin-right: 10%;*/
    margin-bottom: 40px; 
    padding: 40px 10px 0px 10px;
    width: 100%;
    height: 400px;
}

section{
    height:100vh;
}

#background-main{
    margin-top: 30vh;
    margin-bottom: 30vh;
    height: 40vh;
    background-image:url("../img/title-pattern.png");
    background-repeat:repeat;
}

#section0{
    background-image: url("../img/nutrition1.png");
    /*background-color: #cccccc;*/
}

#food-title{
    font-size: 3em;
    margin-top: 5%;
}

#title-text-div{

    position:relative;
    top:15%;
    font-size: 130%;
}

.arrow-wrap {
  position:absolute;
  z-index:1;
  left:50%;
  top:-12%;
  margin-left:-5em;
  background:white;
  width:10em;
  height:10em;
  padding:4em 2em;
  border-radius:50%;
  font-size:0.5em;
  display:block;
  opacity: 0.44985;
}

.arrow {
  float:left;
  position:relative;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: black transparent transparent transparent;
  -webkit-transform:rotate(360deg)
}

.arrow:after {
  content:'';
  position:absolute;
  top:-3.2em;
  left:-3em;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: white transparent transparent transparent;
  -webkit-transform:rotate(360deg)
}
/*.nv-bars rect {
  width: 15px;
}*/